--upgrade pip
serpapi
pandas
google-search-results
scipy
numpy
beautifulsoup4==4.12.2
scikit-learn==1.4.2
gensim==4.3.2
joblib==1.4.0
mysql-connector-python==8.3.0
nltk
parsel==1.8.1
pymupdf==1.24.5
requests==2.32.2
selenium==3.141.0
